/* CSS COMMUN A TOUS */
/* ----------------------------------------------------------------------------------------------------------------------------------- */

body {
	background-image:url(fond_site.jpg); /* Défini une image de fond */
	background-repeat:no-repeat; /* Ne se répète pas (évite d'en avoir 50 sur la page car l'image est trop petite par exemple) */
	background-size:cover; /* Défini l'image sur la page entière */
	border:auto; /* L'image s'adapte à la taille de l'écran */
}

*{ /* Permet de coller au bord, de ne pas avoir de marge */
	margin:0;
	padding:0;
	box-sizing: border-box; 
}

h1 {
	color: red; /* Couleur titre niveau 1 */
	margin: 0px 3px; /* Décale le titre de 3 pixels sur le droite */
}

h2 {
	color: red; /* Couleur titre niveau 2 */
	margin: 0px 4px; /* Décale le titre de 4 pixels sur le droite */
}

h3 {
	color: red; /* Couleur titre niveau 3 */
	margin: 0px 5px; /* Décale le titre de 5 pixels sur le droite */
}

h4 {
	color: red; /* Couleur titre niveau 4 */
	margin: 0px 10px; /* Décale le titre de 6 pixels sur le droite */
}

p {
	color: white; /* Couleur paragraphe */
	margin: 0px 7.5px; /* Décale le paragraphe de 7,5 pixels sur le droite */
}

ul {
    list-style-type: none; /* Permet de ne rien affiché après les onglets (des petits ronds apparaissent lorsque que la ligne est enlevée */
    margin: 0; /* Pas de marge en lien avec la navbar (rien sur le côte, en haut...) */
    padding: 0; /* Pas d'écart de remplissage sur les 4 côte de la navbar */
    overflow: hidden; /* Empêche le dépassement de la bordure */
    border: 1px solid #ffffff; /* Couleur bordure */
    background-color: #ffffff; /* Couleur fond navbar */
}

li {
    float: left; /* Sert à mettre les onglets de la navbar à gauche */
}

li a {
    display: block;
    color: black; /* Les onglets sont écrits en noir */
    text-align: center; /* Centrés */
    padding: 14px 16px;
}

li a:hover:not(.active) {
    background-color: #ddd; /* Lorsque l'on passe sur les onglets, ils sont comme séléctionnés en gris */
}

li a.active {
    color: white; /* Couleur d'écriture des onglets */
    background-color: red; /* Couleur derrière les onglets de la navbar */
}

/* ----------------------------------------------------------------------------------------------------------------------------------- */
/* CSS de la page d'accueil */
/* ----------------------------------------------------------------------------------------------------------------------------------- */

/* Classe pour décaler l'image de Naismith vers la gauche */
.Naismith{
	margin:15px 10px; /* 15px en haut et 10 à droite */
	float:left; /* On aligne l'image à droite */
}

/* Classe pour décaler le texte sur le côté de l'image de Naismith */
p.Naismith{
	text-align:left; /* On aligne le texte à droite */
}

/* ----------------------------------------------------------------------------------------------------------------------------------- */
/* CSS du terrain */
/* ----------------------------------------------------------------------------------------------------------------------------------- */

/* Classe pour décaler l'image de terrain au centre */
.Terrain{
	margin:0px 200px; /* 200px à droite */
	float:left; /* On aligne l'image à droite */
}

/* Classe pour décaler le texte (tirets) sur la droite pour creer une adentation */
.Alinea{
	text-indent: 50px;
}

/* ----------------------------------------------------------------------------------------------------------------------------------- */
/* CSS des violations */
/* ----------------------------------------------------------------------------------------------------------------------------------- */

/* Classe pour décaler l'image du marché */
.Marcher{
	margin:0px 50px; /* 200px à droite */
	float:left; /* On aligne l'image à droite */
}

/* ----------------------------------------------------------------------------------------------------------------------------------- */
/* CSS de NBA */
/* ----------------------------------------------------------------------------------------------------------------------------------- */

/* Classe pour décaler l'image des conférences */
.Conferences{
	margin:0px 20px; /* 20px à droite */
	float:left; /* On aligne l'image à droite */
}

/* Classe pour décaler l'image du batîment du HallOfFame */
.HallOfFame{
	margin:0px 20px; /* 20px à droite */
	float:left; /* On aligne l'image à droite */
}

/* ----------------------------------------------------------------------------------------------------------------------------------- */
/* CSS de Records */
/* ----------------------------------------------------------------------------------------------------------------------------------- */

/* Classe pour décaler l'image de Wilt */
.Wilt{
	margin:0px 20px; /* 20px à droite */
	float:left; /* On aligne l'image à droite */
}

/* Classe pour décaler l'image des warriors de 2015-2016 */
.Warriors{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/* Classe pour décaler l'image du trophée mvp */
.Trophee{
	margin:0px 20px; /* 20px à droite */
	float:left; /* On aligne l'image à droite */
}
